/*Colors
Yellows: #ffdd00

*/
:root {
	--theme_color: rgba(0, 0, 0, 0.9);
	--light: #ffffff;
	--red: #ff1a1a;
	--green: #009900;
	--yellow: #fff01f;
}
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
  }
* {
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
	max-width: 100vw;
}
a {
	text-decoration: none;
	color: #0063cc;
	transition: 0.5s ease;
}
a:hover {
	text-decoration: none;
	color: #ff0000;
}
body {
	background-color: var(--light);
	max-width: 100vw;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	position: relative;
} 

/* Main Menu START*/
.navbar.navbar-expand-md.bg-dark.navbar-dark.menou, .navbar.navbar-expand-md.bg-dark.navbar-dark.menou .dropdown-menu {
	background-color: var(--theme_color) !important;
}
.dropdown-item {
	color: rgba(255, 255, 255, 0.5);
}
.menou { 
	padding: 0px 5px;
	font-size: 1rem;
}
.navbar-brand img {
	width: auto; 
	height: 50px; 
	object-fit: cover;
	margin-top: 5px;
	margin-bottom: 5px;
	transition: all 3s ease;
}
.navbar-brand img:hover {
	transform: rotateX(360deg);
	filter: invert(50%);
}
.nav-link:hover{
	transition: all 0.5s ease-in-out;
}
li.nav-item.dropdown .dropdown-toggle::after {
	vertical-align: inherit;
	border-top:  0.3em solid transparent;
	border-right: 0;
	border-bottom:  0.3em solid transparent;
	border-left: 0.4em solid;
	margin-left: 0.355em;
	transition: all 0.5s ease-in-out;
}
li.nav-item.dropdown:hover .dropdown-toggle::after {
	transform: rotate(90deg);
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #666666;
}
/* Main Menu END*/
/* Main Content START*/
.main_content {
	margin-top : 70px;
	padding-top: 3em;
}
/* Main Content START*/
/* Wavy SVG effect */
svg.waves {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
}
/* Home Page Banner START */
#main_parallax {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #000;
	position: relative;
}
#main_parallax #layer1 {
	position: absolute;
	top: 50%;
	left: 50%;
	/* transform: translate(-50%, -50%); */
	width: 35vw;
	height: 35vw;
	background-image: url("../images/layer1.jpg");
	background-position: center;
	border-radius: 50%;
	z-index: 1;
}
#main_parallax #layer1 {
	animation: eternal_rotation linear 120s infinite;
}
#main_parallax #layer2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
/* 	background-image: url("../images/layer2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom right; */
	background-color: #f48c06;
	/* background: -webkit-linear-gradient(to left, #ffb703, #fb8500);
	background: linear-gradient(to left, #ffb703, #fb8500); */
	-webkit-transform: translateZ(0); 
	transform: translateZ(0);
	transition: background-color 3s linear;
}
#main_parallax img#shutter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 35vw;
	height: 35vw;
	border-radius: 50%;
	z-index: 2;
	opacity: 0.2;
	transition: all 2s ease;
}
#main_parallax img#shutter:hover {
	opacity: 0.9;
	/* filter: invert(100%); */
}
#main_parallax img#shutter:hover ~ #layer1 #layer1_anchor {
	background-color: rgba(0,0,0,0.2);
	color: #ffffff;
	text-shadow: 0 0 1px #000000, 0 0 2px #000000, 0 0 3px #000000;
}
#main_parallax img.layer2_right {
	position: absolute;
	bottom: 0;
	right: 0;
	width: auto;
	height: 65vh;
	z-index: 10000;
}
#main_parallax img.layer2_right:not(#layer2_left_1){
	animation: scale_up_translateX 2s linear;
}
/* #main_parallax #layer2.red-bg {
	background-color: #f75f1c;
} */
#main_parallax #layer2 #layer2_left_1 {
	display: none;
	transform: rotateY(180deg);
	animation: scale_up_translateY 2s linear;
}
#main_parallax img.layer2_left {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 70vh;
	width: auto;
	z-index: 1000;
}
#main_parallax #layer1 #layer1_anchor {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgba(255,255,255,0);
	z-index: 10;
	animation: eternal_rotation_counter linear 120s infinite;
	transition: all 2s ease;
}
#main_parallax a {
	text-decoration: none;
	color: #cccccc;
	text-shadow: 0 0 1px rgba(255,255,255,0), 0 0 2px rgba(255,255,255,0), 0 0 6px rgba(255,255,255,0);
	font-size: 3vw;
}
#main_parallax a span {
	font-size: 0.5em;
	opacity: 0.8;
}
.custom_previous, .custom_next {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 40px;
	background-color: rgba(0,0,0,0.5);
	box-shadow: inset 0 0 25px #000000;
	transition: all 0.5s ease;	
}
.custom_previous {
	left: 5px;
	-webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
	clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}
.custom_next {
	right: 5px;
	-webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
	clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.custom_previous:hover, .custom_next:hover {
	background-color: rgba(0,0,0,0.8);
}
/* Home Page Banner END */
/* Home START */
	#projects_section {
	background-image: url("../images/pattern_shapes.png");
	background-repeat: repeat;
	background-size: auto;
	background-position: bottom;
	}
	#projects_section h2 {
		color: #ffffff;
	}
	#projects_section p {
		color: #d9d9d9;
	}
	#projects_section div.row div.col-md-6.col-lg-4 div.m-3.m-lg-1 {
		box-shadow: 0 0 3px transparent;
		overflow: hidden;
		transition: all 0.5s ease;
	}
	#projects_section div.row div.col-md-6.col-lg-4:nth-child(1) div.m-3.m-lg-1 {
		background-color: rgb(232, 93, 4);
	}
	#projects_section div.row div.col-md-6.col-lg-4:nth-child(2) div.m-3.m-lg-1 {
		background-color: rgb(244, 140, 6);
	}
	#projects_section div.row div.col-md-6.col-lg-4:nth-child(3) div.m-3.m-lg-1 {
		background-color: rgb(255, 186, 8);
	}
	/* #projects_section div.row div.col-md-6.col-lg-4 div.m-3.m-lg-1:hover {
		box-shadow: 0 0 3px #000000;
	} */
	#projects_section div.row div.col-md-6.col-lg-4 div.m-3.m-lg-1 div.image {
		display: flex;
		transform: translate(0,0);
		overflow: hidden;
	}
	#projects_section div.row div.col-md-6.col-lg-4 div.m-3.m-lg-1 img {
		margin-bottom: 0;
		padding-bottom: 0;
		max-width: 70%;
		filter: grayscale(100%) contrast(130%);
		margin: auto;
		transition: all 0.5s ease;
	}
	#projects_section div.row div.col-md-6.col-lg-4:nth-child(3) div.m-3.m-lg-1 img {
		filter: none;
	}
	#projects_section div.row div.col-md-6.col-lg-4 div.m-3.m-lg-1:hover img {
		transform: scale(1.1) rotate(1deg);
		filter: grayscale(0);
	}
	#projects_section div.row div.col-md-6.col-lg-4:nth-child(3) div.m-3.m-lg-1:hover img {
		filter: none;
	}
	#projects_section div.row div.col-md-6.col-lg-4 div.m-3.m-lg-1 div.desciption {
		position: relative;
		background-color: rgb(26, 26, 26);
		transition: all 0.5s ease;
	}
	#projects_section div.row div.col-md-6.col-lg-4 div.m-3.m-lg-1:hover div.desciption {
		filter: invert(100%);
	}
	@supports (mix-blend-mode: difference){
		#projects_section div.row div.col-md-6.col-lg-4 div.desciption:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 55%;
			min-height: 100%;
			background-color: rgb(255,255,255);
			mix-blend-mode: difference;
		}
		/* #projects_section div.row div.col-md-6.col-lg-4:nth-child(2) div.desciption:after {
			width: 50%;
		}
		#projects_section div.row div.col-md-6.col-lg-4:nth-child(3) div.desciption:after {
			width: 45%;
		} */
	}
/* Home END */
/* About Me START */
	#about_me_page {
		background-image: url("../images/pattern_shapes.png");
		background-repeat: repeat;
		background-size: auto;
		background-position: bottom;
	}
	#about_me_page .main_content {
		padding-top: 0;
	}
	#about_me_page .personal_info_container #personal_photo {
		background-image: url("../images/personal_image.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		min-height: calc(100vh - 70px);
	}
	#about_me_page img.emp, #about_me_page img#forth {
		float: left;
		margin-right: 1em;
		height: 3em;
		width: auto;
	}
	img.png_icon {
		margin-right: 0.3em;
		height: 3em;
		width: auto;
	}
	#about_me_page .personal_info_container #skills_list .col-lg-4 {
		margin-bottom: 1em;
		padding-left: 0;
		transition: all 1s ease;
	}
	#about_me_page .personal_info_container #skills_list .col-lg-4:hover {
		color: #666666;
	}
	#about_me_page .personal_info_container #skills_list .col-lg-4 img {
		transition: all 1s ease;
	}
	#about_me_page .personal_info_container #skills_list .col-lg-4:nth-child(3n+1):hover img:nth-child(3n+1) {
		transform: rotate(360deg);
	}
	#about_me_page .personal_info_container #skills_list .col-lg-4:nth-child(3n+2):hover img:nth-child(3n+1) {
		transform: rotate(-360deg);
	}
	#about_me_page .personal_info_container #skills_list .col-lg-4:nth-child(3n+3):hover img:nth-child(3n+1) {
		transform: rotateY(360deg);
	}
	.certification_container {
		min-height: 100vh;
		border-top: 1px solid #666666;
		background-color: #ffffff;
	}
	.certification_container .col-md-6.col-lg-3 {
		padding: 2em;
	}
	.certification_container .certification_box {
		background-image: url("../images/certificates/certificate_hopkins.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: calc(25vw - 4.25em);
		display: flex;
		justify-content: center;
		align-items: flex-end;
		overflow: hidden;
		border-radius: 5px;
		/* transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1); */
		transition: all 1s ease;
	}
	.certification_container .certification_box h2 {
		width: 100%;
		min-height: 6em;
		padding: 1em;
		background: rgba(0,0,0,0.8);
		color: #ffffff;
		transform: translate(0,0);
	}
	.certification_container .certification_box.calarts {
		background-image: url("../images/certificates/certificate_calarts.jpg");
	}
	.certification_container .certification_box.georgia {
		background-image: url("../images/certificates/certificate_georgia.jpg");
	}
	.certification_container .certification_box.michigan {
		background-image: url("../images/certificates/certificate_michigan.jpg");
	}
	.certification_container .certification_box.michigan_specialization {
		background-image: url("../images/certificates/specialization_michigan.jpg");
	}
	.certification_container .certification_box.michigan_spec {
		background-image: url("../images/certificates/specialization_michigan.jpg");
	}
	.certification_container .certification_box.ual {
		background-image: url("../images/certificates/certificate_ual.jpg");
	}
	.certification_container .certification_box:hover {
		filter: invert(100%);
	}
	#filters {
		margin-bottom: 2em;
		padding:0;
		list-style:none;
		display: flex;
		justify-content: center;
	}
	#filters li span {
		display: block;
		padding: 0.3em 0.6em;		
		text-decoration:none;
		color:#666666;
		cursor: pointer;
		border-radius: 0.2em;
	}
	
	#filters li span.active {
		background: #666666;
		color:#fff;
	}
	#portfoliolist .portfolio {
		display:none;
		overflow:hidden;
	}
	.education_quick_list {
		margin-left: 2em;
	}
	.education_quick_list ul {
		list-style-type: none;
	}
	.education_quick_list ul li {
		margin-bottom: 0.5em;
		transition: all 1s ease;
	}
	.education_quick_list ul li:before {
		content: '';
		display: inline-block;
		height: 2em;
		width: 2em;
		margin-right: 5px;
		vertical-align: middle;
		transition: all 1s ease;
	}
	.education_quick_list ul li.front-end:before {
		background: url('../images/front_end_icon.png') no-repeat;
		background-size: contain;
	}
	.education_quick_list ul li.back-end:before {
		background: url('../images/back_end_icon.png') no-repeat;
		background-size: contain;
	}
	.education_quick_list ul li.ux-design:before {
		background: url('../images/ux_icon.png') no-repeat;
		background-size: contain;
	}
	.education_quick_list ul li.covid-icon:before {
		background: url('../images/covid_icon.png') no-repeat;
		background-size: contain;
	}
	.education_quick_list ul li.custom_unstyled:before {
		opacity: 0;
	}
	.education_quick_list ul li:hover {
		color: #993300;
	}
	.education_quick_list ul li:hover:before {
		opacity: 0.6;
		/* transform: rotate(360deg); */
	}
/* About Me END */
/* Front End Page START */
#front_end_projects_page {
	background-image: url("../images/pattern_shapes.png");
	background-repeat: repeat;
	background-size: auto;
	background-position: bottom;
 }
#front_end_projects_page .row.projects {
	justify-content: center;
}
#front_end_projects_page .row.projects .row {
	margin: 1vw;
	overflow: hidden;
	box-shadow: 2px 2px 3px transparent;
	transition: all 1s ease;
}
#front_end_projects_page .row.projects .row:hover {
	box-shadow: 2px 2px 3px #666666;
}
#front_end_projects_page .row.projects a {
	text-decoration: none;
	color: #000000;
}
#front_end_projects_page .row.projects p {
	color: #cccccc;
}
#front_end_projects_page .row.projects .row:hover .project_photo {
	transform: scale(1.2) rotate(0.1deg);
	-webkit-transform: scale(1.2) rotate(0.1deg);
	-moz-transform: scale(1.2) rotate(0.1deg);
	-o-transform: scale(1.2) rotate(0.1deg);
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
#front_end_projects_page .row.projects .col-sm-6 {
	min-height: 250px;
}
#front_end_projects_page .row.projects .row .project_photo {
	background-image: url('../images/my-projects/front-end/css-effects/neonText.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: all 1s ease;
	overflow: hidden;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	padding: 0;
}
#front_end_projects_page .row.projects .row #project1 {
	background-image: url('../images/my-projects/front-end/multi_layered_parallax_effect.jpg');
}
#front_end_projects_page .row.projects .row #project2 {
	background-image: url('../images/my-projects/front-end/polygon-3d-animation.jpg');
}
#front_end_projects_page .row.projects .row #project3 {
	background-image: url('../images/my-projects/front-end/circular-wave-3D-animation.jpg');
}
#front_end_projects_page .row.projects .row #project4 {
	background-image: url('../images/my-projects/front-end/creative_3d_flip_menu.jpg');
}
#front_end_projects_page .row.projects .row #project5 {
	background-image: url('../images/my-projects/front-end/flashing_neon_text.jpg');
}
#front_end_projects_page .row.projects .row #project6 {
	background-image: url('../images/my-projects/front-end/glowing_buttons.jpg');
}
#front_end_projects_page .row.projects .row #project7 {
	background-image: url('../images/my-projects/front-end/interactive_neon_cards.jpg');
}
#front_end_projects_page .row.projects .row #project8 {
	background-image: url('../images/my-projects/front-end/neonText.jpg');
}
#front_end_projects_page .row.projects .row .projects_description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 100;
	background-color: rgb(26, 26, 26);
	color: rgb(255,255,255);
	filter: invert(100%);
	transition: all 1s ease;
}
#front_end_projects_page .row.projects .row:hover .projects_description {
	filter: invert(0%);
}
@supports (mix-blend-mode: difference){
	#front_end_projects_page .row.projects .row .projects_description:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		min-height: 100%;
		background-color: rgb(255,255,255);
		mix-blend-mode: difference;
	}
}
/* Front End Page END */
/* Project Pages START */
.front_end_project_page main.main_content {
	/* display: flex;
	justify-content: center; */
	min-height: calc(100vh - 70px);
	/* background: #000000; */
	overflow: hidden;
	border-bottom: 1px solid #666666;
} 
/* Project Pages END */
/* Back End Page START */
#back_end_projects_page {
	background-color:#001219;
}
#back_end_projects_page .main_content {
	min-height: calc(100vh - 70px);
}
#back_end_projects_page #bulldozer {
	width: 20vw;
	height: auto;
	position: absolute;
	top: calc(100vh - 11.9vw);
	left: -20vw;
	animation: moving_bulldozer 8s infinite linear;
}
#back_end_projects_page #truck {
	width: 20vw;
	height: auto;
	position: absolute;
	top: calc(100vh - 12.5vw);
	right: -20vw;
	animation: moving_truck 8s infinite linear;
}
#back_end_projects_page #sign {
	transform: rotate(-20deg);
	width: 10vw;
	height: auto;
	position: absolute;
	top: 70px;
	right: 0;
	animation: rotate_sign 8s infinite linear;
	animation-delay: 4s;
}
#back_end_projects_page #hook {
	width: 20vw;
	height: auto;
	position: absolute;
	top: -22.6vw;
	right: 40vw;
	animation: moving_hook 4s linear;
}
/* Back End Page END */
/* UX Page START */
#ux_projects_page {
	background-color:#3caea3;
}
#ux_projects_page .main_content {
	min-height: calc(100vh - 70px);
}
#ux_projects_page #bulldozer {
	width: 20vw;
	height: auto;
	position: absolute;
	top: calc(100vh - 11.9vw);
	left: -20vw;
	animation: moving_bulldozer 8s infinite linear;
}
#ux_projects_page #truck {
	width: 20vw;
	height: auto;
	position: absolute;
	top: calc(100vh - 12.5vw);
	right: -20vw;
	animation: moving_truck 8s infinite linear;
}
#ux_projects_page #sign {
	transform: rotate(-20deg);
	width: 10vw;
	height: auto;
	position: absolute;
	top: 70px;
	right: 0;
	animation: rotate_sign 8s infinite linear;
	animation-delay: 4s;
}
#ux_projects_page #hook {
	width: 20vw;
	height: auto;
	position: absolute;
	top: -22.6vw;
	right: 40vw;
	animation: moving_hook 4s linear;
}
/* UX Page END */
/* Contact Page START*/
#contact_page {
	background-image: url("../images/pattern_shapes.png");
	background-repeat: repeat;
	background-size: auto;
	background-position: bottom;
}
#contact_page .main_content {
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
#contact_page .map_container {
	padding-right: 0;
	background-color: #a7cdf2;
}
#contact_page .map_container iframe {
	width: 100%;
	height: 100vh;
	border: none;
}
/* #contact_page .contact_info_container:before {
	content: '';
	position: absolute;
    left: 0;
    top: 0;
	width: 100%;
	height: 100%;
	background-image: url("../images/pattern_shapes.png");
	background-repeat: repeat;
	background-size: auto;
	background-position: bottom;
	filter: invert(50%);
} */
#contact_page .contact_info_container .col-md-6 {
	padding: 1em;
}
#contact_page .contact_info_container, #contact_page .social_media_container {
	padding: 2em;
	background-color: rgba(0,0,0,0.75);
	color: #ffffff;
}
#contact_page .social_media_container ul.socialMedia {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#contact_page .social_media_container ul.socialMedia li {
    margin-right: 0;
    margin-bottom: 2em;
}
#contact_page .social_media_container ul.socialMedia .fab, #contact_page .social_media_container ul.socialMedia .instagram_icon {
	font-size: 40px;
}
#contact_page .social_media_container ul.socialMedia li:hover .fab, #contact_page .social_media_container ul.socialMedia li:hover .instagram_icon {
	width: 8em;
	border-radius: 5px;
}
.position_top_left {
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: auto;
}
.position_bottom_right {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20%;
	height: auto;
}
/* Contact Page END */
/* Footer START */
footer.page_footer {
	background-color: var(--theme_color); 
	background-image: url("../images/footer.jpg");
	background-position: center;
	background-size: cover; 
	padding-top: 1em !important;
	padding-bottom: 1em;
	color: var(--light);
}
footer.page_footer {
	font-size: 0.9rem;
}
footer.page_footer strong {
	font-weight: 400;
}
footer.page_footer h5 {
	margin-top: 0.6em;
	margin-bottom:  0.6em;
	font-size: 1.3em;
}
/* unvisited link */
footer.page_footer a:link {
	text-decoration:none;
	color: #bfbfbf;
}
.footer-copyright a:link {
	color: #ff0000;
}
/* visited link */
footer.page_footer a:visited {
	text-decoration:none;
	color: #bfbfbf;
}
.footer-copyright a:visited {
	color: #bfbfbf;
}
/* mouse over link */
footer.page_footer a:hover {
	text-decoration:none;
	color: #ffd700;
}
footer.page_footer h5 {
	text-align: left;
}
/* .epikoinoniaFooter {
	font-size: 14px;
}
.epikoinoniaFooter h5 {
	margin-left: 9%;
} */
.epikoinoniaFooter .fas, .footer-copyright .far {
	font-size: 1.1em;
}
.infoFooter img {
	width: 8em;
}
.validations img:nth-of-type(1) {
	width: 6em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}
.validations img:nth-of-type(2) {
	width: 30%;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}
.validations img:nth-of-type(3) {
	width: 6em;
	margin-bottom: 0.5em;
}
.validations img {
	transition: opacity 0.5s ease;
}
.validations img:hover {
	opacity: 0.7;
}
.epik .col-1 {
	text-align: center;
	padding: 0 0 0 1.1em;
}
.epik:hover {
	color: rgba(255, 255, 255, 0.75);
}
.epik:hover .far, .epik:hover .fas {
	color: #ffd700;
}
#useful_links {
	text-align: left;
}
#useful_links li:before{
	content:"▸";
}
.footer-copyright {
	/* background-image: url('../../assets/photos/footer_bg.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center; */
	margin-top: 2em;
}
.footer-copyright img {
	height: 1.2em;
}
/* Footer Social Media */
.socialMedia {
	margin-top: 1em;
}
.socialMedia li {
	display: inline-block;
	margin-right: 0.3em;
	margin-bottom: 0.3em;
}
.socialMedia .fab {
	font-size: 20px;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	text-align: center;
	padding-top: 0.5em;
}
.fa-facebook-f {
	color: #3B5998;
	box-shadow: inset 0 0 10px #3B5998;
	transition: 0.5s ease;
}
.fa-twitter {
	color: #55ACEE;
	box-shadow: inset 0 0 10px #55ACEE;
	transition: 0.5s ease;
}
/* .fa-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background-clip: text;
Standard property for compatibility
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	box-shadow: inset 0 0 10px #f09433;
	transition: 0.5s ease;
} */
.socialMedia .instagram_icon {
	position: relative;
	bottom: 0.25em;
	font-size: 20px;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	box-shadow: inset 0 0 10px #f09433;
	transition: 0.5s ease;
}
.socialMedia .instagram_icon img {
	width: 1em;
	height: auto;
	margin-left: calc(50% - 0.5em);
	padding-top: 0.25em;
}
.fa-linkedin-in {
	color: #2867b2;
	box-shadow: inset 0 0 10px #2867b2;
	transition: 0.5s ease;
}
.fa-youtube {
	color: #ffffff;
	background: rgba(255,0,0,0.2);
	box-shadow: inset 0 0 10px #ff0000;
	transition: 0.5s ease;
}
.fa-facebook-f:hover {
	color: #3B5998;
	background-color: transparent;
	box-shadow: inset 0 0 10px #ffffff;
}
.fa-twitter:hover {
	color: #55ACEE;
	background-color:transparent;
	box-shadow: inset 0 0 10px #ffffff;
}
/* .fa-instagram:hover {
	box-shadow: inset 0 0 10px #ffffff;
} */
.socialMedia .instagram_icon:hover {
	box-shadow: inset 0 0 10px #ffffff;
}
.fa-linkedin-in:hover {
	color: #2867b2;
	background-color: transparent;
	box-shadow: inset 0 0 10px #ffffff;
}
.fa-youtube:hover {
	color: #ffffff;
	box-shadow: inset 0 0 10px rgba(255,255,255,0.7);
}
#designerCopyright {
	font-size: 12px;
}
/* Footer END*/
/* 404 Not Found Page START */
#not_found_404 .main_content {
	min-height: calc(100vh - 70px);
	background-image: url("../images/pattern_shapes.png");
	background-repeat: repeat;
	background-size: auto;
	background-position: bottom;
}
/* 404 Not Found Page END */
/* Media Queries START */
/* Home Page Banner  */
@media (max-width: 775px) {
	#main_parallax #layer1, #main_parallax img#shutter {
	width: 200px;
	height: 200px;
	top: 170px;
	}
	#main_parallax a span {
		font-size: 0.3em;
	}
	#front_end_projects_page .row.projects .col-lg-6 {
		padding-left: 0;
		padding-right: 0;
	}
}
@media (min-width: 775px) and (max-width: 1024px) {
	#main_parallax #layer1, #main_parallax img#shutter {
		top: 40%;
	}
}
/* Footer */
@media (max-width: 992px) {
	#projects_section div.row div.col-md-6.col-lg-4:nth-child(3) .m-3.m-lg-1 {
		margin-bottom: 2rem !important;
	}
	img.png_icon {
		height: 6em;
		display: flex;
		align-items: center;
		/* justify-content: center;
		text-align: center; */
		margin: auto;
	}
	#about_me_page .personal_info_container #skills_list strong {
		display: block;
		margin: 0.3em;
		text-align: center;
	}
	.certification_container .certification_box {
		height: calc(50vw - 4em);
	}
}
@media (max-width: 767px) {
	#projects_section div.row div.col-md-6.col-lg-4 {
		padding-left: 0;
		padding-right: 0;
	}
	#projects_section div.row div.col-md-6.col-lg-4 .m-3.m-lg-1 {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	footer.page_footer {
		background-position: top;
	}
	footer.page_footer .fab, .socialMedia .instagram_icon {
		background-color :rgba(0,0,0,0.7);
	}
	.certification_container .certification_box {
		height: calc(100vw - 4em);
	}
	#filters li span {
		font-size: 0.8rem;
	}
}
@media (min-width: 992px) {
	#projects_section div.row div.col-md-6.col-lg-4:nth-child(1) {
		margin-top: 0.1rem;
	}
	#projects_section div.row div.col-md-6.col-lg-4:nth-child(2) {
		margin-top: 2.1rem;
	}
	#projects_section div.row div.col-md-6.col-lg-4:nth-child(3) {
		margin-top: 4.1rem;
	}
}
/* Media Queries END */
/* Keyframe Animations START */
/* Home Page Banner  */
@keyframes scale_up_translateX {
	0% {
		transform: scale(0) translateX(-100vw);
	}
	100% {
		transform: scale(1) translateX(0);
	}
}
@keyframes scale_up_translateY {
	0% {
		transform: translateX(100vw) translateY(-20vh) rotateY(180deg);
	}
	100% {
		transform: translateX(0) translateY(0) rotateY(180deg);
	}
}
@keyframes eternal_rotation {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
@keyframes eternal_rotation_counter {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
/* Under construction animations */
@keyframes moving_hook {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(calc(50vh + 22.6vw));
	}
}
@keyframes moving_bulldozer {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(120vw);
	}
}
@keyframes moving_truck {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-120vw);
	}
}
@keyframes rotate_sign {
	0% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate(-20deg);
	}
}
/* Keyframe Animations END */